langgraph==0.2.14
langchain==0.2.16
langchain-anthropic==0.1.23
anthropic==0.34.2
django==5.1.1
djangorestframework==3.15.2
chromadb
sentence-transformers==3.0.1
pylint==3.2.7
flake8==7.1.1
bandit==1.7.9
python-dotenv==1.0.1
pydantic==2.9.0
pytest==8.3.2
openai
GitPython